

.classbox {
	-fx-background-color: #6002EE;

}


.dependency {
	-fx-stroke-width: 5;
    -fx-stroke: #EE6002;
 	-fx-stroke-dash-array: 10;


}

.generalization Polygon {
	-fx-fill: #EE6002;
}

.generalization Line {
	-fx-stroke-width: 5;
	-fx-stroke: #EE6002;
}

.association {
	-fx-stroke-width: 5;
	-fx-stroke: #EE6002;

}

.aggregation {
	-fx-stroke-width: 5;
	-fx-stroke: #EE6002;


}

.composition {
	-fx-stroke-width: 5;
	-fx-stroke: #EE6002;

}

#items {
	-fx-background-color: #1F2021;

}

#top {

	-fx-background-color: #3B3C3D;

}

#leftbuttons {
	-fx-background-color: #3B3C3D;
}

#scroll {
	-fx-background-color: black;
}

#ap {
	-fx-background-color: #1F2021;



}



